
<!-- El navbar cuenta con el enlace para cerrar sesión, el resto de rutas y una mejora definició
    del navbar cuando esté en pantallas pequeñas se harán en un futuro-->
    <div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <div class="col-3"></div>
            <ul class="largenav pull-right">
                <li class="upper-links">
                    <a class="links" routerLink="/main">
                       <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="upper-links"><a class="links" routerLink="/datos">Lista de juegos</a></li>
                <li class="upper-links"><a class="links" href="">Más votados</a></li>
                <li class="upper-links">
                    <a class="links" href="">
                       <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li class="upper-links">

                <a class="links" href="">
                    <i class="fab fa-instagram"></i>
                 </a>
                </li>                       
                <li class="upper-links">
                    <a class="links" href="">
                       <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="upper-links dropdown"><i class="fa fa-user"></i>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><a class="profile-links" (click)="verUser()">{{usuario}}</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Ver tus votos</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Ver tus mensajes</a></li>
                        <li class="profile-li"><a class="profile-links" (click)="logout()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6">
                <h2 style="margin:0px;"><span class="smallnav menu" (click)="openNav()">☰ MegaDriver</span></h2>
                <h2 style="margin:0px;"><span class="largenav">MegaDriver</span></h2>
            </div>
            <div class="flipkart-navbar-search smallsearch col-xl-9 col-lg-9 col-md-8 col-sm-8 col-12">
                <div class="row">
                    <input  (keyup.enter)="buscar($event)" class="flipkart-navbar-input col-sm-8 col-8" type="text" placeholder="Busca tus juegos favoritos">
                    <button class="flipkart-navbar-button col-sm-1 col-1">
                        <svg width="1.5rem" height="7rem">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                    </div>
            </div>
           </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 0.625em;">
        <span class="sidenav-heading">MegaDriver</span>
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    </div>
    <a routerLink="/main" id="navlink"><i class="fa fa-home"></i><span id="spanito">Inicio</span></a>
    <a routerLink="/datos" id="navlink"><i class="fa fa-database"></i><span id="spanito">Lista de juegos</span></a>
    <a href="#" id="navlink"><i class="fa fa-star"></i><span id="spanito">Más votados</span></a>
    <a href="/usuario" id="navlink"><i class="fa fa-user"></i><span id="spanito">Usuario</span></a>
    <a href="#" id="navlink"><i class="fas fa-envelope-open-text"></i><span id="spanito">Mensajes</span></a>
    <a (click)="logout()" id="navlink"><i class="fa fa-times"></i><span id="spanito">Cerrar sesión</span></a>
                    
</div>
