<app-navbar></app-navbar>
<div class="container p-4 bg-white" *ngIf="carga">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <div class="card">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p-table #dt [value]="datosJuegos" responsiveLayout="stack" breakpoint="815px" [paginator]="true" [rows]="10" [showCurrentPageReport]="false" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['titulo']">        

            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Buscar" size="30" style="width:auto" />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th></th>
                      <th pSortableColumn="titulo">Título <p-sortIcon field="titulo"></p-sortIcon></th>
                      <th pSortableColumn="categoria">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
                      <th pSortableColumn="year">Año <p-sortIcon field="year"></p-sortIcon></th>
                      <th pSortableColumn="desarrollador">Desarrollador <p-sortIcon field="desarrollador"></p-sortIcon></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-juego let-columns="juego">
                  <tr>
                    <td *ngIf="juego.imagen"> <img class="card-img-top center-block d-block mx-auto" src={{obtenerImagen(juego)}}  alt="Caratula del juego"   width="50" class="shadow-4" /></td>
                    <td *ngIf="!juego.imagen"><span>Sin imagen aún</span></td>
                      <td><span class="p-column-title" pSortableColumn="titulo"><strong>Título</strong></span>{{juego.titulo}}</td>
                      <td><span class="p-column-title" pSortableColumn="categoria"><strong>Categoría</strong></span>{{juego.categoria}}</td>
                      <td><span class="p-column-title" pSortableColumn="year"><strong>Año</strong></span>{{juego.year}}</td>
                      <td><span class="p-column-title" pSortableColumn="desarrollador"><strong>Desarrollador</strong></span>{{juego.desarrollador}}</td>
                    </tr>
    
             
    
              </ng-template>
              <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total hay {{datosJuegos ? datosJuegos.length : 0 }} juegos.
                </div>
            </ng-template>
              
            </p-table>
    
          </div>
    
        
    </div>
</div>
<app-footer></app-footer>
