.card{
    margin-bottom: 0.313rem;
    margin-top: 0.313rem;
}

.blockquote-footer{
    cursor: pointer
}

#botones{
    float:right;
}



@media (min-width: 576px) { .card-img-top{width: 100%; height:auto;} }

@media (min-width: 768px) { .card-img-top{width: 65%; height:auto; } }

@media (min-width: 992px) { .card-img-top{width: 50%;  height: auto; } }

@media (min-width: 1200px) { .card-img-top{width: 50%;  height: auto;  } }
