.card{
    margin-bottom: 0.313rem;
    margin-top: 0.313rem;
}

.container{
    margin-top: 0.313rem;
    height: 100%;

}

.blockquote-footer{
    cursor: pointer
}

#botones{
    float: right;

}

#votobox{
    overflow: hidden 
}

select{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#exampleFormControlTextarea1{
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;

}

img{
    width:14.063rem; 
    height:20rem}


@media (max-width: 576px) { .card-img-top{width: 80%; height:auto;} .container {height: auto;} }

@media (min-width: 577px) { .card-img-top{width: 70%; height:auto; } .container {height: auto;}}

@media (min-width: 992px) { .card-img-top{width: 65%;  height: auto; } .container {height: 100%;} }

@media (min-width: 1200px) { .card-img-top{width: 65%;  height: auto;  } .container {height: 100%;}  }
