<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">

        <div *ngIf="carga==true" class="card align-items-center text-justify" (mouseover)="mostrarVotacionUsuario()">
            <img class="card-img-top" src="https://www.mega-drive.net/palcover/tn/artoffighting.jpg"  alt="Caratula del juego">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">
                    {{juegoCargado.titulo}}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Año: {{juegoCargado.year}}</li>
                    <li class="list-group-item">Desarrollador: {{juegoCargado.desarrollador}}</li>
                    <li class="list-group-item">Categoría:  {{juegoCargado.categoria}}</li>
                  </ul>
                <p class="card-text">
                    Aquí irá una breve sinopsis del juego
                </p>
                <h5 class="card-title text-center">Media de votos: {{juegoCargado.votacionMedia}}</h5>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary"  data-toggle="collapse" data-target="#demo">Ver tu voto</button>
                </div>
                <div id="demo" class="collapse">
                <h6 *ngIf="nota==true" class="card align-items-center text-justify">Lo calificaste con: {{notaUsuario}}</h6>
                <h6 *ngIf="nota==false" class="card align-items-center text-justify">No has votado todavía</h6>
                </div>
                <div style="text-align: center">
                    <select class="form-control" (ngModelChange)="selectOption($event)" [(ngModel)]="opcionElegida" name="buscador"> 
                        <optgroup label="Nota">
                        <option [ngValue]="o.id" *ngFor="let o of options">
                           {{o.name}}
                        </option>
                    </optgroup>
                </select>
                <button type="button" class="btn btn-primary" (click)="votar()">Votar</button>
                </div>
                <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Escribe tu reseña</label>
                    <textarea class="form-control" [(ngModel)]="review" id="exampleFormControlTextarea1" name="review"rows="3"></textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Añadir" class="btn btn-primary" (click)="addReview()">
                </div>
            </form>
                </div>
            </div>
        </div>
        </div>
