<app-navbar></app-navbar>
<div class="container p-4 bg-white">
    <div class="row">
        <input  (keyup.enter)="buscar($event)" class="col-sm-8 col-8" type="text" placeholder="Introduce la referencia del mensaje">
    </div>
    <div *ngIf="carga" class="card">
       
        <p-card header="Mensaje de {{mensaje.usuarioEmisor.nick}}" subheader="Referencia {{mensaje.codigoComentario}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>{{mensaje.texto}}</p>
            <ng-template pTemplate="footer">
                <p-button label="Borrar" icon="pi pi-trash" (click)="borrar(mensaje.codigoComentario)"></p-button>
                <p-button label="Notificar" icon="pi pi-comment" styleClass="p-button-secondary" (click)="notificar()" [style]="{'margin-left': '.5em'}"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="dialogo">
    
    <h5 class="text-center">Vas a enviar un mensaje a <b>{{mensaje.usuarioReceptor.nick}}</b></h5>
    <form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Escribe tu texto</label>
        <textarea class="form-control" [(ngModel)]="texto" id="exampleFormControlTextarea1" name="review" rows="3"></textarea>
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Enviar" class="btn btn-primary" (click)="mandarMensaje()">
    </div>
</form>
</p-dialog>