<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Regístrate</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-instagram"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<!--Formulario reactivo-->
				<form class="custom-form" method="post"  [formGroup]="formGroup">	
					<!--El correcto completado del campo de formulario se gestiona con un la función campoNoValido y en el template se especifica
					el contenido textual del error a mostrar-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user-ninja"></i></span>
						</div>
						<input type="text"  name="nick" class="form-control" formControlName="nick" placeholder="Alias" required="required"/>
						<span class="error" *ngIf="campoNoValido('correo')">Es obligatorio que el usuario tenga alias</span>					
					</div>				
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<input type="email"  name="correo" class="form-control"  formControlName="correo"	placeholder="Correo electrónico" required="required"/>	
						<span class="error" *ngIf="campoNoValido('correo')">{{ emailErrorMsg}}</span>					
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password"  name="password" class="form-control" formControlName="password" placeholder="Contraseña"  required="required"/>  
						<span class="error"	*ngIf="campoNoValido('password')">  La contraseña debe de ser mayor de 6 caracteres y tener una mayúscula y un número
					 </span>
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user-shield"></i></span>
						</div>
						<input type="password"  name="repitePass" class="form-control" formControlName="repitePass" placeholder="Repite la contraseña"  required="required"/> 						
						<span class="error"	*ngIf="campoNoValido('repitePass')">  Las contraseñas deben de ser iguales </span>											
					</div>
					<!--Hasta que no estén todos los campos correctamente rellenos no se activa el botón de login-->				
					<div class="form-group">
						<input type="submit" value="Registrar"  (click)="registrar()" [disabled]="formGroup.invalid"  class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					¿Ya tienes cuenta?<a routerLink="./login">Accede</a>
				</div>
			</div>
		</div>
	</div>
</div>

