#avatar{
    width: 100%;
    max-width: 14rem;
    height: auto;
}

.card{
    margin:0.5rem;
  }

  
  #paginador{
    text-align: center;
    display: block;
  }

  #tarjeta{
    text-align: center;
}