<app-navbar></app-navbar>
<div *ngIf="carga==true" class="container p-4 bg-white">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <div class="card text-justify">
            <div class="card-body">
                <div class="row"> 
                <div class="col-md-4 bg-light py-5">
                    <img *ngIf="!usuario.avatar" class="card-img-top center-block d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Font_Awesome_5_solid_user-ninja.svg/896px-Font_Awesome_5_solid_user-ninja.svg.png"  alt="Icono de usuario" id="avatar">
                    <img *ngIf="usuario.avatar" class="card-img-top center-block d-block mx-auto"src={{obtenerAvatar(usuario)}}     alt="Icono de usuario" id="avatar">
                <h5 class="card-title text-center font-weight-bold">
                    {{usuario.nick}}
                </h5>
                <ul class="list-group list-group-mine">
                    <li class="list-group-item">Correo: {{usuario.correo}}</li>
                    <li *ngIf="usuario.ciudad" class="list-group-item">Ubicación: {{usuario.ciudad}}</li>
                    <li *ngIf="!usuario.ciudad" class="list-group-item">Ubicación: No definida aún</li>
                    <li *ngIf="usuario.rango=='MASTER_OF_THE_SYSTEM'"class="list-group-item">Rango: MASTER OF THE SYSTEM</li>
                    <li *ngIf="usuario.rango!='MASTER_OF_THE_SYSTEM'"class="list-group-item">Rango: {{usuario.rango}}</li>
                    <li class="list-group-item">Juegos votados:  {{usuario.numVotos}}</li>
                    <li class="list-group-item">Reseñas realizadas:  {{usuario.numReviews}}</li>
                    <li class="list-group-item">Seguidores:  {{usuario.numSeguidores}}  </li>
                    <li class="list-group-item">Siguiendo:  {{usuario.numSiguiendo}}  </li>
                  </ul>
                </div>
                <div *ngIf="followers.length==0" class="col-md-8 col-sm-6 col-xs-12">
                    <h3 id="tarjeta">No tienes seguidores</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" *ngFor= "let follower of followers  | paginate: { itemsPerPage: 2, currentPage: pages}">
                    <div class="card align-items-center text-justify">
                        <img *ngIf="!usuario.avatar" class="card-img-top center-block d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Font_Awesome_5_solid_user-ninja.svg/896px-Font_Awesome_5_solid_user-ninja.svg.png"  alt="Icono de usuario" id="avatar">
                        <img *ngIf="usuario.avatar" class="card-img-top center-block d-block mx-auto"src={{obtenerAvatar(follower.user)}}     alt="Icono de usuario" id="avatar">                        
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                {{follower.user.nick}}
                            </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Juegos votados: {{follower.user.numVotos}}</li>
                                <li class="list-group-item">Reseñas: {{follower.user.numReviews}}</li>
                                <li class="list-group-item">Número de seguidores:  {{follower.user.numSeguidores}}</li>
                              </ul>
                           <div  *ngIf="!follower.esAmigo" style="text-align: center">
                                <button class="btn btn-primary"   (click)="follow(follower.user.correo)" >Seguir a este usuario</button>
                            </div>
                            <div  *ngIf="follower.esAmigo"  style="text-align: center">
                                <button class="btn btn-primary"   (click)="unfollow(follower.user.correo)" >Dejar de seguir a este usuario</button>
                            </div>
                        </div>
                    </div>
            
                </div>
                 </div>
                 <div *ngIf="followers.length>0" class="row" id="paginador"> 
                    <pagination-controls   previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pages = $event"></pagination-controls>
                </div>
                 </div>
                 </div>
                 </div>                 
                 <app-footer></app-footer>
