#avatar{
    width: 100%;
    max-width: 14rem;
    height: auto;
}


#tarjeta{
    text-align: center;

  }

  .card{
    margin:0.5rem;
  }

  #paginacion{
    text-align: center;
  }

  .card-img-top{
width:14.063rem; 
height:20rem}

  @media (max-width: 355px) {  .card-img-top{width: 80%; margin-left: 2.2rem !important;}}

  @media (min-width: 356px) {  .card-img-top{width: 70%; margin-left: 3.2rem;}}

  @media (min-width: 992px) {  .card-img-top{ width: 60%;}}
