.container{
    
    height: 100%;
    text-align: center;
    }

    button{
        float: left;
    }

    img{
        width: 78%;
    }

    ul {
        list-style-type: none;
        margin-top: 1.5rem;
        padding: 0;
      }

      #listado{
        text-align: left;
      }

      
      @media (max-width: 500px) { .container {height: 235% !important}  #listado{  text-align: center !important;  }  img{width: 60%;}}

      @media (min-width: 501px) { .container {height: 210%;}  #listado{  text-align: center;  }  img{width: 60%;}}

      @media (min-width: 769px) { .container {height: 112%} }
      
      @media (min-width: 992px) { .container {height: 112%;}  }
      
      @media (min-width: 1200px) {  .container {height: 112%;}  }

      @media (min-width: 2000px) {  .container {height: 102%;}  }
