<app-navbar></app-navbar>
<div *ngIf="carga==true" class="container p-4 bg-white" id="contenedor" >
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <div *ngIf="votos.length==0">
            <h3>No hay reseñas aún</h3>
        </div>
<br><br>
<div *ngFor="  let voto of votos | paginate: { itemsPerPage: 3, currentPage: pages }">
            <p-card [header]="voto.juego.titulo" [style]="styleCard">
                <ng-template pTemplate="header">
                    <button pButton class="p-button-rounded p-button-text" icon="pi pi-pencil" (click)="seleccionarReviewEditar(voto)" id="focusEditar">
                    </button>
                    <button pButton class="p-button-rounded p-button-text" icon="pi pi-trash" (click)="confirmar(voto)" id="focusBorrar">
                    </button>
                </ng-template>
                <div class="row"> 
                    <div  *ngIf="!voto.juego.imagen" class="col-md-2">
                        <img alt="caratula" src="https://i.ibb.co/sV1y6Sm/artoffighting.jpg">
                    </div>
                    <div  *ngIf="voto.juego.imagen" class="col-md-2">
                        <img class="card-img-top center-block d-block mx-auto" src={{obtenerImagen(voto.juego)}}  alt="Caratula del juego"  class="shadow-4" />
                    </div>
                    <div id="listado" class="col-md-7">
                        <p>{{voto.review}}</p>
                    </div>
                    <div  *ngIf="!voto.juego.imagen" class="col-md-3">
                <b><h5 id="voto" class="card-title">{{voto.voto}}</h5></b>
                    <div *ngIf="voto.voto>7">
                        <span class="pi pi-star-fill" style="color: #9bd169"></span>
                        <span class="pi pi-star-fill" style="color: #9bd169"></span>
                        <span class="pi pi-star-fill" style="color: #9bd169"></span>
                    </div>
                    <div *ngIf="nota(voto)=='REGULAR'">
                        <span class="pi pi-star-fill" style="color: #e4d00a"></span>
                        <span class="pi pi-star-fill" style="color: #e4d00a"></span>
                    </div>
                    <div *ngIf="nota(voto)=='MALA'">
                        <span class="pi pi-star-fill" style="color: red"></span>
                    </div>
                    <i><label id="date">Votado el {{voto.fecha}}</label></i>
                    </div>
                    </div>
            </p-card>
</div>
<div *ngIf="votos.length>0">
<pagination-controls   previousLabel="Anterior"
nextLabel="Siguiente" (pageChange)="pages = $event"></pagination-controls>
</div>
<br>
</div>
<app-footer></app-footer>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-dialog [(visible)]="dialogoEdit">
    
    <h5 class="text-center">Editar la reseña</h5>
    <form>
    <div *ngIf=" seleccionado" class="form-group">
        <textarea class="form-control" [(ngModel)]="review" id="exampleFormControlTextarea1" placeholder="{{seleccionado.review}}" name="review" rows="3"></textarea>
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Editar" class="btn btn-primary" (click)="editarReview()">
    </div>
</form>
</p-dialog>