<app-navbar></app-navbar>
<div class="container p-4 bg-white">
    <h4>Gestión de reseñas</h4>
    <div class="row">
        <input  (keyup.enter)="buscar($event)" class="col-sm-4 col-4" type="text" placeholder="Introduce la referencia del reseña">
    </div>
    <br>
       <div id="tarjeta"> 
        <p-card *ngIf="carga" header="Reseña de {{review.votante}}" subheader="Referencia {{review.codigo}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <p>{{review.review}}</p>
            <ng-template pTemplate="footer">
                <span class="p-buttonset">
                <button pButton pRipple  label="Borrar" icon="pi pi-trash" (click)="borrar(review.codigo)"></button>
                <button pButton pRipple  label="Editar" icon="pi pi-pencil" (click)="seleccionarParaEditar(review)"></button>
                <button pButton pRipple  label="Avisar" icon="pi pi-comment" styleClass="p-button-secondary" (click)="notificar()"></button>
                </span>
            </ng-template>
        </p-card>
    </div>
</div>
<app-footer></app-footer>
<p-toast key="error"></p-toast>
<p-toast key="errorExist"></p-toast>
<p-toast key="send"></p-toast>
<p-toast key="edit"></p-toast>
<p-toast key="delete"></p-toast>

<p-dialog [(visible)]="dialogo">
    
    <h5 class="text-center">Enviar un mensaje al reportador</h5>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput">Destinatario</label>
            <input type="text" class="form-control" [(ngModel)]="cadena" id="exampleFormControlInput" name="cadena"/>
        </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Escribe tu texto</label>
        <textarea class="form-control" [(ngModel)]="texto" id="exampleFormControlTextarea1" name="review" rows="3"></textarea>
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Enviar" class="btn btn-primary" (click)="mandarMensaje()">
    </div>
</form>
</p-dialog>

<p-dialog [(visible)]="dialogoEdit">
    
    <h5 class="text-center">Editar la reseña</h5>
    <form>
    <div *ngIf=" seleccionado" class="form-group">
        <textarea class="form-control" [(ngModel)]="textoEdicion" id="exampleFormControlTextarea1" placeholder="{{seleccionado.review}}" name="review" rows="3"></textarea>
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Enviar" class="btn btn-primary" (click)="editarReview()">
    </div>
</form>
</p-dialog>