<app-navbar></app-navbar>
<div class="container p-4 bg-white">
    <h4>Gestión de cuestionarios Quiz</h4>
    <div class="card">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p-table #dt [value]="quizzes" responsiveLayout="stack" breakpoint="815px" [paginator]="true" [rows]="10" [showCurrentPageReport]="false" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['titulo']">        

            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <button  class="btn float-left edit_btn" id="save" (click)="guardar()">Añadir quiz</button>
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Buscar" size="30" style="width:auto" />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th pSortableColumn="titulo">Título <p-sortIcon field="titulo"></p-sortIcon></th>
                      <th pSortableColumn="numPreguntas">Número de preguntas <p-sortIcon field="numPreguntas"></p-sortIcon></th>
                      <th>Editar</th>
                      <th>Borrar</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-quizz let-columns="quizz">
                  <tr>
                      <td  (click)="getQuizz(quizz.ref)" id="title"><span class="p-column-title" pSortableColumn="titulo"><strong>Título</strong></span>{{quizz.name}}</td>
                      <td><span class="p-column-title" pSortableColumn="categoria"><strong>Número de preguntas</strong></span>{{quizz.numPreguntas}}</td>
                      <td class="justify-content-evenly " (click)="seleccionarQuizEditar(quizz)"><span class="p-column-title" >Editar</span><a class="btn"><i class="pi pi-pencil focusEditar"></i></a></td>
                      <td class="justify-content-evenly " (click)="confirmar(quizz.ref)"><span class="p-column-title">Borrar</span><a class="btn"><i class="pi pi-trash focusBorrar"></i></a></td>
                  </tr>
    
             
    
              </ng-template>
              <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total hay {{quizzes ? quizzes.length : 0 }} cuestionarios.
                </div>
            </ng-template>
              
            </p-table>
    
          </div>
    
        
    </div>
</div>
<app-footer></app-footer>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-dialog [(visible)]="dialogoEdit">
    
    <form class="custom-form" method="post" #quizEditForm="ngForm" novalidate>
        <div class="input-group form-group d-block">
            <div>

                <input type="text" name="name" [(ngModel)]="editNombreQuiz" #name="ngModel" class="form-control" placeholder="Título del quiz" required>
            </div>
            <div>
                <span class="error" *ngIf="name.touched && name.errors?.['required'] ">Introduzca un título</span>
            </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Editar" [disabled]="!quizEditForm.valid" (click)="editar()" class="btn float-right module_btn" id="edit">
        </div>
    </form>
</p-dialog>





<p-dialog [(visible)]="dialogoGuardado" [style]="{'width':'350px'}" header="Añadir quiz">

    <form class="custom-form" method="post" #quizForm="ngForm" novalidate>
        <div class="input-group form-group d-block">
            <div>

                <input type="text" name="name" [(ngModel)]="nombreQuiz" #name="ngModel" class="form-control" placeholder="Título del quiz" required>
            </div>
            <div>
                <span class="error" *ngIf="name.touched && name.errors?.['required'] ">Introduzca un título</span>
            </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Crear" [disabled]="!quizForm.valid" (click)="addQuiz()" class="btn float-right module_btn" id="add">
        </div>
    </form>
</p-dialog>