p{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.container{
    height: 100%;
}

img{
    width: 12rem;
    display: block;
    margin: auto;
}

@media (max-width: 408px) { .container {height: 203% ;} }

@media (min-width: 409px) { .container {height: 120%;} }

@media (min-width: 769px) { .container {height: 90% ;}  }


