p{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.container{
    height: 100%;
}

@media (max-width: 768px) { .container {height: 130% !important;} }

@media (min-width: 769px) { .container {height: 100% !important;}  }


