<router-outlet></router-outlet>
<div class="container p-4 bg-white">
   <br>
                <h2 class="card-title text-center font-weight-bold">
                    Megadriver</h2>
                    <hr>
                    <p>MegaDriver es la base de datos de juegos de Mega Drive lanzados en Europa más importante y completa en español de Internet, pretende ser 
                        referencia en consulta de puntuaciones medias y críticas de usuarios de cada una de los míticos juegos de la 16 bits de SEGA. Además es
                        también una web independiente de votación y recomendación de juego de forma personalizada. También es una red social donde puedes consultar
                        lo que opinan tus amigos de cualquier juego. MegaDriver es, para muchos, un "diario" de su pasión por la Mega Drive: aquí te "guardamos y ordenamos"
                        tus gustos y lo que has jugado (o quieres jugar) a través de votaciones, reseñas y listas. Además, como la parte lúdica es importante, cuenta
                        con un juego de preguntas tipo quiz para poner a prueba tus conocimientos.</p>
                
                       <p>Te recomendamos que empieces a votar todos los juegos que hayas jugado. Así, tus amigos podrán consultarlas y podremos generar datos interesantes para la
                        comunidad MegaDriver. No te demores más y empieza a buscar juegos en nuestro buscador.</p>

                        <p>Bienvenid@ a tu casa, bienvenido a MegaDriver.  </p>
              <hr>
         
        </div>
        <app-footer></app-footer>


        <!--Carga dele elemento hijo con la propagación del evento-->
        <!--
<app-child  (selected)="itemSelected($event)"></app-child>-->
