<app-navbar></app-navbar>
<div class="container p-4 bg-white">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
    <!--El filtrado de búsqueda como es una herramienta opcional se muestra como desplegable
    Más adelante se hará desde el backend y se incorporará en el front un mejor filtrado con el 
    buscado por multiples atributos-->
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Filtrar búsqueda</button>
    <div id="demo" class="collapse">
        <form>
            <div class="form-group row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                <input (keyup.enter)="buscarPorCategoria($event)" type="text" class="form-control"  placeholder="">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <select class="form-control" (ngModelChange)="selectOption($event)" [(ngModel)]="opcionElegida" name="buscador"> 
                        <optgroup label="Elige una opción">
                        <option [ngValue]="o.id" *ngFor="let o of options">
                           {{o.name}}
                        </option>
                    </optgroup>
                </select>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
<!-- Cada resultado de la búsqueda se muestra en una card-->
<h5 *ngIf="sizeArray==0" style="text-align: center">No hay resultados para su búsqueda</h5>
<div *ngIf="sizeArray==0" class="container p-4 bg-white" style="height: 100vh;"></div>
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor= "let juego of juegosObtenidos  | paginate: { itemsPerPage: 6, currentPage: pages }">
        <div class="card align-items-center text-justify">
            <img *ngIf="juego.imagen" class="card-img-top center-block d-block mx-auto" src={{obtenerImagen(juego)}}  alt="Caratula del juego"    class="shadow-4" />
            <img *ngIf="!juego.imagen" alt="caratula" src="https://i.ibb.co/sV1y6Sm/artoffighting.jpg">
        <div class="card-body">
                <h5 class="card-title text-center">
                    {{formateador(juego.titulo)}}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Año: {{juego.year}}</li>
                    <li class="list-group-item">Desarrollador: {{juego.desarrollador}}</li>
                    <li class="list-group-item">Categoría:  {{juego.categoria}}</li>
                    <li class="list-group-item">Valoración: 
                        <span *ngIf="juego.votacionMedia>7">
                            <span class="pi pi-star-fill" style="color: #9bd169"></span>
                            <span class="pi pi-star-fill" style="color: #9bd169"></span>
                            <span class="pi pi-star-fill" style="color: #9bd169"></span>
                    </span>
                        <span *ngIf="nota(juego.votacionMedia)=='REGULAR'">
                            <span class="pi pi-star-fill" style="color: #e4d00a"></span>
                            <span class="pi pi-star-fill" style="color: #e4d00a"></span>
                        </span>
                        <span *ngIf="nota(juego.votacionMedia)=='MALA'">
                            <span class="pi pi-star-fill" style="color: red"></span>
                        </span>
                    </li>

                  </ul>
                <div style="text-align: center">
                    <button class="btn btn-primary"  (click)="getJuego(juego.titulo)">Accede para votar</button>
                </div>
            </div>
        </div>

    </div>
   
    </div>
    <div *ngIf="juegosObtenidos.length>0" id="paginador">
        <pagination-controls   previousLabel="Anterior"
        nextLabel="Siguiente" (pageChange)="pages = $event"></pagination-controls>
        </div>
    </div>
    <app-footer></app-footer>
