<!--Página de inicio-->
<div class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12"></div>
    <div class="card col-md-4 col-sm-6 col-xs-12">
        <div class="card-header">
            <h1 class="text-center">Mega Driver</h1>
        </div>
        <div class="card-body">
        <a class="btn" href="./datos" role="button">Ir a la lista de juegos</a>
        <a class="btn" href="./login" role="button">Acceso para miembros</a>
        </div>
</div>
</div>
</div>
    
