h4{display: flex; justify-content:center; align-items: center;}

.text-center{display: flex; justify-content:center; align-items: center; margin-top: 0.5rem;}


.container{
    
    height: 112%;
    }

    #avatar{
        width: 100%;
        max-width: 14rem;
        max-height: 14rem;
        height: auto;
    }

.card{
margin-top: 0.6rem;
}

#mensaje{
    margin-top: 0.6rem;

}



#paginacion{
    text-align: center;
    display: block;
  }

  @media (max-width: 380px) { .container {height: 335% !important} #avatar {width: 30% !important;}  }

  @media (min-width: 381px) { .container {height: 255% } #avatar {width: 30%;}  }

  @media (min-width: 501px) { .container {height: 250% ;} #avatar {width: 30% ;}}
  
  @media (min-width: 769px) { .container {height: 200%}  #avatar {width: 100% ;}}

  @media (min-width: 985px) { .container {height: 200%} button{ font-size:0.769rem} }

  @media (min-width: 990px) { .container {height: 130%} button{ font-size:0.769rem} }

  @media (min-width: 995px) { .container {height: 120%} button{ font-size:0.769rem} }
  
  @media (min-width: 1200px) {  .container {height: 120%} button{ font-size:1rem} } 

  @media (min-width: 2000px) {  .container {height: 100%;}  }


