h4{display: flex; justify-content:center; align-items: center;}

.text-center{display: flex; justify-content:center; align-items: center; margin-top: 0.5rem;}


#contenedor{
    
    height: 100%;
    }

    #avatar{
        width: 100%;
        max-width: 14rem;
        height: auto;
    }

.card{
margin-top: 0.6rem;
}

#mensaje{
    margin-top: 0.6rem;

}


#paginacion{
    text-align: center;
    display: block;
  }
