h4{display: flex; justify-content:center; align-items: center;}

.text-center{display: flex; justify-content:center; align-items: center; margin-top: 0.5rem;}


.container{
    
    height: 112%;
    }

    #avatar{
        width: 100%;
        max-width: 14rem;
        height: auto;
    }

.card{
margin-top: 0.6rem;
}

#mensaje{
    margin-top: 0.6rem;

}


#paginacion{
    text-align: center;
    display: block;
  }

  @media (max-width: 500px) { .container {height: 270% !important} #avatar {width: 30% !important;}  }

  @media (max-width: 768px) { .container {height: 275% !important;} #avatar {width: 30% !important;}}
  
  @media (min-width: 769px) { .container {height: 220% !important;}  }

  @media (min-width: 995px) { .container {height: 140% !important;} .card{width: 105%;} }
  
  @media (min-width: 1200px) {  .container {height: 130% !important;} .card{width: 100%;} }

  @media (min-width: 2000px) {  .container {height: 100% !important;}  }


