<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Accede</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-instagram"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<!--Forumulario template driven-->
				<form class="custom-form" method="post" #loginForm="ngForm"  novalidate>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<!--El campo email es un campo requerido y con un formato concreto-->
						<input type="email" name="email"  [(ngModel)]="user.email"  #email="ngModel"  class="form-control" placeholder="Correo electrónico"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
						required>		
						<!--Si el usuario ha tocado el input del correo y no lo ha cumplimentado correctamente se le avisa-->				
					<div *ngIf="email.touched">
						<span class="error" *ngIf="email.errors?.['required']">Por favor, para acceder introduzca su correo</span>
						<span class="error" *ngIf="email.errors?.['pattern']">Este correo no tiene el formato correcto</span>
  					</div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<!-- El campo password es un campo requerido -->
						<input type="password"   [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" placeholder="Contraseña" required/>                      
						<!--Si el usuario ha tocado el input del password y no lo ha cumplimentado correctamente se le avisa-->				
						<div *ngIf="password.touched">
							<span class="error" *ngIf="password.errors?.['required']">Para acceder introduzca su contraseña</span>
						  </div>
					</div>
					<!--Checkbox sin utilidad, se intentará añadir la funcionalidad más adelante-->
					<div class="row align-items-center remember">
						<input type="checkbox">Recuérdame
					</div>
					<!--Hasta que no estén todos los campos correctamente rellenos no se activa el botón de login-->
					<div class="form-group">
						<input type="submit" value="Entra" [disabled]="!loginForm.valid" (click)="login()" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					¿No tienes una cuenta?<a routerLink="./registro">Regístrate</a>
				</div>
				<!-- 
				<div class="d-flex justify-content-center">
					<a href="#">¿Olvidaste tu contraseña?</a>
				</div>
				Esta funcionalidad se intentará incorporar más adelante
			-->
			</div>
		</div>
	</div>
</div>