.blockquote-footer{
    cursor: pointer
}

.container{
    margin-top: 0.313rem;

}

#nota{
    float: right;
    font-size: x-large;
    padding: 0.313rem;
}

#fecha{
    font-size: x-small;
}

.card{
    margin-bottom: 0.313rem;
    margin-top: 0.313rem;
}

h6{
    display: inline-block;
    vertical-align:baseline;
  
}