.blockquote-footer{
    cursor: pointer
}

.container{
    margin-top: 0.313rem;
    height: 104%;

}

#nota{
    float: right;
    font-size: x-large;
    padding: 0.313rem;
}

#fecha{
    font-size: x-small;
}

.card{
    margin-bottom: 0.313rem;
    margin-top: 0.313rem;
}

h6{
    display: inline-block;
    vertical-align:baseline;
  
}

#review{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


#paginador{
    text-align: center;
    display: block;
  }

  @media (max-width: 375px) { .container {height: 155%;} }

  @media (min-width: 376px) { .container {height: 120%;} }

  @media (min-width: 576px) { .container {height: 110%;} }

  @media (min-width: 768px) { .container {height: 110%;}}
  
  @media (min-width: 992px) { .container {height: 110%;}  }
  
  @media (min-width: 1200px) {  .container {height: 110%;}  }

  @media (min-width: 2000px) {  .container {height: 104%;}  }

  