
#paginador, h4{
    text-align: center;
    display: block;
  }

  .container{
    height:100%
  }

  #boton{
    padding-bottom: 0.5rem;
  }

  #send {
    background-color: #e4d00a;
    cursor: pointer;
    margin: 0.25rem 0.125rem;
    float: right;
    }

    .error{
        display: block;
        color: red!important;
    }

@media (max-width: 3888px) { .container {height: 340%;} }

@media (min-width: 389px) { .container {height: 120%;} }

@media (min-width: 769px) { .container {height: 110% ;} img{width: 75%;} }

@media (min-width: 995px) { .container {height: 105% ;} img{width: 90%;}  }

@media (min-width: 1200px) {  .container {height: 100%;} }


