
#paginador, h4{
    text-align: center;
    display: block;
  }

  .container{
    height:100%
  }

  #boton{
    padding-bottom: 0.5rem;
  }

  #send {
    background-color: #e4d00a;
    cursor: pointer;
    margin: 0.25rem 0.125rem;
    float: right;
    }

    .error{
        display: block;
        color: red!important;
    }


@media (max-width: 768px) { .container {height: 120% !important;} }

@media (min-width: 769px) { .container {height: 110% !important;}  }

@media (min-width: 995px) { .container {height: 105% !important;}  }

@media (min-width: 1200px) {  .container {height: 100% !important;} }


