<!--Componente hijo-->
<div class="row">
    <div class="col-md-2 col-sm-3"></div>
    <div class="col-md-8 col-sm-6 col-xs-12">
        <!-- Muestra de elementos de un array que al clicar en cada uno se emite un evento 
        para comunicarse con el componente padre-->
        <div class="card align-items-center text-justify">
            <div class="card-body">
                <span>Elige al protagonista para tu imagen de bienvenida:</span>
            <div *ngFor="let o of opciones">
                <span (click)="select(o)">
                  {{o}} 
                </span>
              </div>
               
        </div>
        </div>
        </div>
        </div>
