.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.juego-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.juego-year {
    margin: 0 0 1rem 0;
}

.juego-calendar-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.juego-year {
    font-weight: 600;
    vertical-align: middle;
}

.juego-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
.juego-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}
.juego-list-item .juego-list-detail {
    flex: 1 1 0;
}

.juego-list-item .juego-votos {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}
.juego-list-item .juego-list-action {
    display: flex;
    flex-direction: column;
}

.juego-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
}
.juego-grid-item .juego-grid-item-top, .juego-grid-item .juego-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.juego-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}
.juego-grid-item .juego-grid-item-content {
    text-align: center;
}
.juego-grid-item .juego-votos {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    :host ::ng-deep .juego-list-item {
        flex-direction: column;
        align-items: center;
   }
    :host ::ng-deep .juego-list-item img {
        width: 75%;
        margin: 2rem 0;
   }
    :host ::ng-deep .juego-list-item .juego-list-detail {
        text-align: center;
   }
    :host ::ng-deep .juego-list-item .juego-votos {
        align-self: center;
   }
    :host ::ng-deep .juego-list-item .juego-list-action {
        display: flex;
        flex-direction: column;
   }
    :host ::ng-deep .juego-list-item .juego-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
}

