<app-navbar></app-navbar>
<div *ngIf="carga" class="container p-4 bg-white">
    <h4>Cuestionario: {{quiz.name}}</h4>
    <div class="card">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p-table #dt [value]="questions" responsiveLayout="stack" breakpoint="815px" [paginator]="true" [rows]="10" [showCurrentPageReport]="false" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['titulo']">        

            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <button  class="btn float-left edit_btn" id="save" (click)="guardar()">Añadir pregunta</button>
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Buscar" size="30" style="width:auto" />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th pSortableColumn="titulo">Enunciado <p-sortIcon field="titulo"></p-sortIcon></th>
                      <th>Respuesta correcta</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-question let-columns="question">
                  <tr>
                      <td  (click)="getPregunta(question.ref)" id="title"><span class="p-column-title" pSortableColumn="titulo"><strong>Título</strong></span>{{question.texto}}</td>
                      <td><span class="p-column-respCorrecta"></span>
                        <div class="col-3" *ngIf="question.numRespuesta==0" (click)="noRespuestas()">
                            <i class="pi pi-ban focusForbidden"></i>
                        </div>
                        <div class="col-3" *ngIf="question.numRespuesta>0" (click)="cargaRespuestas(question)">
                            <i class="pi pi-check-circle  focusGreen"></i>
                        </div>
                    </td>
                      <td class="justify-content-evenly " (click)="seleccionarQuestionEditar(question)"><span class="p-column-title" >Editar</span><a class="btn"><i class="pi pi-pencil focusEditar"></i></a></td>
                      <td class="justify-content-evenly " (click)="confirmar(question.ref)"><span class="p-column-title">Borrar</span><a class="btn"><i class="pi pi-trash focusBorrar"></i></a></td>
                  </tr>
    
             
    
              </ng-template>
              <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total hay {{questions ? questions.length : 0 }} preguntas.
                </div>
            </ng-template>
              
            </p-table>
    
          </div>
    
        
    </div>
</div>
<app-footer></app-footer>

<p-toast key="noRespuestas"></p-toast>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-dialog [(visible)]="dialogoEdit" [style]="{'width':'350px'}" header="Editar pregunta">
    
    <form class="custom-form" method="post" #quizEditForm="ngForm" novalidate>
        <div class="input-group form-group d-block">
            <div>

                <input type="text" name="name" [(ngModel)]="editEnunciadoQuestion" #name="ngModel" class="form-control" placeholder="Enunciado de la pregunta" required>
            </div>
            <div>
                <span class="error" *ngIf="name.touched && name.errors?.['required'] ">Introduzca un enunciado</span>
            </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Editar" [disabled]="!quizEditForm.valid" (click)="editarPregunta()" class="btn float-right module_btn" id="edit">
        </div>
    </form>
</p-dialog>





<p-dialog [(visible)]="dialogoGuardado" [style]="{'width':'350px'}" header="Añadir pregunta">

    <form class="custom-form" method="post" #quizForm="ngForm" novalidate>
        <div class="input-group form-group d-block">
            <div>

                <input type="text" name="name" [(ngModel)]="enunciadoQuestion" #name="ngModel" class="form-control" placeholder="Enunciado de la pregunta" required>
            </div>
            <div>
                <span class="error" *ngIf="name.touched && name.errors?.['required'] ">Introduzca un enunciado</span>
            </div>
        </div>



        <div class="form-group">
            <input type="submit" value="Añadir" [disabled]="!quizForm.valid" (click)="addQuestion()" class="btn float-right module_btn" id="add">
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="dialogoRespCorrecta" [style]="{'width':'550px'}" header="Asignar respuesta correcta">

    <form class="custom-form" method="post" #respuestaCorrectaForm="ngForm" novalidate>
        <label>Respuesta correcta actual:</label>
        <br>
        <label *ngIf="seleccionado && seleccionado.respuestaCorrect" ><strong>{{seleccionado.respuestaCorrect.text}}</strong></label>
        <label *ngIf="!seleccionado || !seleccionado.respuestaCorrect" ><strong>No hay respuesta asignada</strong></label>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <select class="form-control" name="selectResp"  [(ngModel)]="selectResp" > 
                    <optgroup label="Elige una opción">
                    <option [ngValue]="resp" *ngFor="let resp of respuestas">
                       {{resp.text}}
                    </option>
                </optgroup>
            </select>					
        </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Asignar" [disabled]="!respuestaCorrectaForm.valid" (click)="setRespuestaCorrecta()" class="btn float-right module_btn" id="edit">
        </div>
    </form>
</p-dialog>
<p-toast key="error"></p-toast>
<p-toast key="errorSize"></p-toast>