#add {
    color: black;
    background-color: #9bd169;
    cursor: pointer;
    margin: 0.25rem 0.125rem;
    float: left;
    border:none
}

#save {
    background-color: #9bd169;
    cursor: pointer;
    margin: 0.25rem 0.125rem;
    float: right;
}

#edit {
    background-color: #e4d00a;
    cursor: pointer;
    margin: 0.25rem 0.125rem;
    float: right;
}

.error{
    display: block;
    color: red!important;
}

#title{
    cursor: pointer
  }

.focusBorrar:hover {
    color: red;
}

.focusEditar:hover {
    color: blue;
}
  

.focusForbidden:hover {
    color: red
}

.focusGreen:hover {
    color: #9bd169
}

h4{
    text-align: center;
  }

  .container{
    height: 100%;
  }

  @media (max-width: 548px) { .container {height: 190% !important;} }

  @media (min-width: 549px) { .container {height: 177% !important;} }

  @media (min-width: 709px) { .container {height: 180% !important;} }

  @media (min-width: 809px) { .container {height: 100% !important;} }


