#botones{
    margin-left: 0.6rem;
    margin-top: 2.5rem;
}

.container{
    
    height: 100%;
    text-align: center;
    }

    img{
       width: 78%;
        }
    
    ul {
        list-style-type: none;
        margin-top: 1.5rem;
        padding: 0;
   }
    
 #listado{
   text-align: left;
     }

#mensaje{
    margin-top: 1.5rem;

     }

     @media (max-width: 380px) { .container {height: 250% }  #listado{  text-align: center ;  }  img{width: 30%;}}

     @media (min-width: 381px) { .container {height: 220% }  #listado{  text-align: center ;  }  img{width: 30%;}}

     @media (min-width: 501px) { .container {height: 225% }  #listado{  text-align: center;  }  img{width: 45%;}}
     
     @media (min-width: 769px) { .container {height: 150%}  img{width: 100%;}}
     
     @media (min-width: 1200px) {  .container {height: 120%}  }

     @media (min-width: 2000px) {  .container {height: 100%}  }


    