<app-navbar></app-navbar>
        <div *ngIf="carga==true" class="container p-4 bg-white" id="contenedor" >
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <div *ngIf="mensajes.length==0">
            <h3>No hay mensajes</h3>
        </div>
<br><br>
    <div *ngFor="let mensaje of mensajes | paginate: { itemsPerPage: 3, currentPage: pages }">
            <p-card [header]="mensaje.usuarioEmisor.nick" [style]="styleCard">
                <div class="row"> 
                    <div  *ngIf="!mensaje.usuarioEmisor.avatar" class="col-md-2">
                        <img class="card-img-top center-block d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Font_Awesome_5_solid_user-ninja.svg/896px-Font_Awesome_5_solid_user-ninja.svg.png"  alt="Icono de usuario" id="avatar">
                    </div>
                    <div  *ngIf="mensaje.usuarioEmisor.avatar" class="col-md-2">
                    <img class="card-img-top center-block d-block mx-auto" src={{obtenerAvatar(mensaje.usuarioEmisor)}}  alt="avatar"  class="shadow-4" />
                    </div>
                    <div id="mensaje" class="col-md-7">
                            <p id="listado">{{mensaje.texto}}</p>
                            <p ><i>Enviado el {{mensaje.fecha}}</i></p>
                    </div>
                    <div  class="col-md-3">
                        <ul>
                            <li> <button type="button" id="botones" class="btn btn-primary" (click)="borrar(mensaje.codigoComentario)">Borrar</button>
                             <button type="button" id="botones" class="btn btn-primary" (click)="reportar(mensaje.codigoComentario)">Reportar</button> </li>
                          </ul>
                    </div>
                    </div>
            </p-card>
</div>
<div *ngIf="mensajes.length>0">
<pagination-controls   previousLabel="Anterior"
nextLabel="Siguiente" (pageChange)="pages = $event"></pagination-controls>
</div>
<br>
</div>
<app-footer></app-footer>
