#botones{
    margin-left: 0.6rem;
    margin-top: 2.5rem;
}

.container{
    
    height: 100%;
    text-align: center;
    }

    img{
       width: 78%;
        }
    
    ul {
        list-style-type: none;
        margin-top: 1.5rem;
        padding: 0;
   }
    
 #listado{
   text-align: left;
     }

#mensaje{
    margin-top: 1.5rem;

     }

     @media (max-width: 500px) { .container {height: 220% !important}  #listado{  text-align: center !important;  }  img{width: 30%;}}

     @media (max-width: 768px) { .container {height: 225% !important;}  #listado{  text-align: center !important;  }  img{width: 30%;}}
     
     @media (min-width: 769px) { .container {height: 160% !important;}  }
     
     @media (min-width: 1200px) {  .container {height: 130% !important;}  }

     @media (min-width: 2000px) {  .container {height: 100% !important;}  }


    