<app-navbar></app-navbar>
<div *ngIf="carga==true" class="row">
    <div class="container p-4 bg-white">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <div class="card text-justify">
            <div class="card-body">
                <div class="row"> 
                <div class="col-md-5 bg-light py-5">
                    <img *ngIf="!usuario.avatar" class="card-img-top center-block d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Font_Awesome_5_solid_user-ninja.svg/896px-Font_Awesome_5_solid_user-ninja.svg.png"  alt="Icono de usuario" id="avatar">
                    <img *ngIf="usuario.avatar" class="card-img-top center-block d-block mx-auto"src={{obtenerImagen(usuario)}}     alt="Icono de usuario" id="avatar">                
                    <h5 class="card-title text-center font-weight-bold">
                    {{usuario.nick}}
                </h5>
                <ul class="list-group list-group-mine">
                    <li class="list-group-item">Correo: {{usuario.correo}}</li>
                    <li *ngIf="usuario.ciudad" class="list-group-item">Ubicación: {{usuario.ciudad}}</li>
                    <li *ngIf="!usuario.ciudad" class="list-group-item">Ubicación: No definida aún</li>
                    <li *ngIf="usuario.rango=='MASTER_OF_THE_SYSTEM'"class="list-group-item">Rango: MASTER OF THE SYSTEM</li>
                    <li *ngIf="usuario.rango!='MASTER_OF_THE_SYSTEM'"class="list-group-item">Rango: {{usuario.rango}}</li>
                    <li class="list-group-item">Juegos votados:  {{usuario.numVotos}}</li>
                    <li class="list-group-item">Reseñas realizadas:  {{usuario.numReviews}}</li>
                    <li class="list-group-item">Seguidores:  {{usuario.numSeguidores}}  </li>
                    <li class="list-group-item">Siguiendo:  {{usuario.numSiguiendo}}  </li>
                    <li class="list-group-item">Listas:  {{usuario.numListas}}  </li>
                  </ul>
                </div>
                <div class="col-md-7" id="lista">
                    <br><br>
                    <h5 class="pill" routerLink="/edit"><i class="pi pi-user-edit" style="font-size: 1.5rem; margin:0.5rem"></i>Editar mi perfil</h5>
                    <h5 class="pill" routerLink="/mis_votos"><i class="pi pi-chart-bar" style="font-size: 1.5rem; margin:0.5rem"></i>Mis votos</h5>
                    <h5 class="pill" routerLink="/mis_reviews"><i class="pi pi-star" style="font-size: 1.5rem; margin:0.5rem"></i>Mis reseñas</h5>
                    <h5 class="pill" routerLink="/listas"><i class="pi pi-list" style="font-size: 1.5rem; margin:0.5rem"></i>Mis listas</h5>
                    <h5 class="pill" routerLink="/seguidores"><i class="pi pi-users" style="font-size: 1.5rem; margin:0.5rem"></i>Mis seguidores</h5>
                    <h5 class="pill" routerLink="/siguiendo" ><i class="pi pi-user-plus" style="font-size: 1.5rem; margin:0.5rem"></i>Siguiendo</h5>
                    <h5 class="pill" routerLink="/mensajes"><i class="pi pi-comments" style="font-size: 1.5rem; margin:0.5rem"></i>Mis mensajes</h5>



                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 <app-footer></app-footer>
