<app-navbar></app-navbar>
<div class="row">
    <div class="container p-4 bg-light">
        <div  class="card align-items-center text-justify">
            <div class="card-body">
                <div class="row"> 
                <div class="col-md-8">
                <h5 class="card-title text-center font-weight-bold">
                    {{usuario.nick}}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Correo: {{usuario.correo}}</li>
                    <li class="list-group-item">Ciudad: </li>
                    <li class="list-group-item">Juegos votados:  {{usuario.numVotos}}</li>
                  </ul>
                  <!--Más adelante se modificará en backend la entidad Juego para que incluya una sinopsis-->
                <p class="card-text">
                    Ha vuelto Sonic y mejor que nunca. ¡Es un rayo! ¡Un demonio en acción! Con su nuevo superlanzamiento con giro. Y un nuevo y 
                    fabuloso amigo, 'Tails' el Zorro. No lo creerá hasta que no lo vea. Y cuando comience a jugar, no podrá parar. 
                </p>
                </div>